body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('bad_apple.gif') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed; /* Привязывает фон к окну просмотра */
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: calc(15 * 110px); /* 15 изображений по 100px шириной + 10px отступ */
    margin: auto; /* Центрирует контейнер по горизонтали */
}

.image-link {
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    width: 100px;
    height: 100px;
}

.image-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
